<a href="https://colab.research.google.com/github/ddodds42/DS-Unit-1-Build/blob/master/Standardizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [0]:
rev_gdp = pd.read_excel('CW Rev per GDP NANs.xlsx')
rev_gdp

     Country Name Country Code      1972  ...       2017       2018  2019
0           Aruba          ABW       NaN  ...        NaN        NaN   NaN
1     Afghanistan          AFG       NaN  ...   8.301134        NaN   NaN
2          Angola          AGO       NaN  ...  27.144839        NaN   NaN
3         Albania          ALB       NaN  ...  30.635517  27.611139   NaN
4         Andorra          AND       NaN  ...        NaN        NaN   NaN
..            ...          ...       ...  ...        ...        ...   ...
259        Kosovo          XKX       NaN  ...        NaN        NaN   NaN
260   Yemen, Rep.          YEM       NaN  ...        NaN        NaN   NaN
261  South Africa          ZAF  0.154185  ...   4.111196        NaN   NaN
262        Zambia          ZMB       NaN  ...   1.604153        NaN   NaN
263      Zimbabwe          ZWE       NaN  ...   0.168547        NaN   NaN

[264 rows x 50 columns]

In [0]:
cpi = pd.read_excel('PTI CPI NANs.xlsx')
cpi.head()

  country  1972  1973  1974  1975  1976  ...  2014  2015  2016  2017  2018  2019
0     AFG   NaN   NaN   NaN   NaN   NaN  ...   1.2   1.1   1.5   1.5   1.6   NaN
1     AGO   NaN   NaN   NaN   NaN   NaN  ...   1.9   1.5   1.8   1.9   1.9   NaN
2     ALB   NaN   NaN   NaN   NaN   NaN  ...   3.3   3.6   3.9   3.8   3.6   NaN
3     ARE   NaN   NaN   NaN   NaN   NaN  ...   7.0   7.0   6.6   7.1   7.0   NaN
4     ARG   NaN   NaN   NaN   NaN   NaN  ...   3.4   3.2   3.6   3.9   4.0   NaN

[5 rows x 49 columns]

In [0]:
hpi = pd.read_excel('HPI TARG FEAT NANs.xlsx')
hpi.head()

     Country       2006       2009       2012       2016
0    Albania  42.134485  47.907875  54.051180  36.766874
1    Algeria  45.887716  51.225434  52.181298  33.300543
2     Angola  27.883425  26.775316  33.201432        NaN
3  Argentina  51.956744  58.950214  54.055042  35.190244
4    Armenia  36.146527  48.277153  46.003186  25.666417

In [0]:
scaler = StandardScaler()
rev_gdp_std = scaler.fit_transform(hpi.iloc[:,1:])

In [0]:
rev_gdp_std

array([[ 1.15966076e-02,  3.64794549e-01,  1.30075514e+00,
         1.41400961e+00],
       [ 3.37348967e-01,  6.32211765e-01,  1.09485284e+00,
         9.40282239e-01],
       [-1.22528880e+00, -1.33862946e+00, -9.95116778e-01,
                    nan],
       [ 8.64095169e-01,  1.25488018e+00,  1.30118033e+00,
         1.19853884e+00],
       [-5.08113311e-01,  3.94560794e-01,  4.14549491e-01,
        -1.03038066e-01],
       [-6.89324523e-01, -5.43292425e-01, -2.84846829e-02,
        -7.09483783e-01],
       [ 5.87742015e-01,  3.47498613e-01,  5.33688447e-01,
         5.54569146e-01],
       [-1.14115364e-01, -1.75214565e-01, -1.49087346e-01,
                    nan],
       [-6.63752052e-01,             nan, -1.72006852e+00,
                    nan],
       [ 9.72232759e-01,  8.63431626e-01,  1.54750332e+00,
         1.63592951e+00],
       [-1.40800510e+00, -6.21327071e-01, -5.31183173e-01,
        -6.42524634e-01],
       [ 1.77353190e-01,  1.59502482e-01, -5.66868653e-01,
        -3.68154307e-01],
       [ 8.08749408e-01,  8.98341855e-01,  1.87761119e+00,
         1.01398590e+00],
       [-1.65117873e-01, -1.51546984e+00, -1.22836512e+00,
        -1.77637558e+00],
       [ 1.65579193e+00,  1.21839292e+00,             nan,
         3.01056097e-01],
       [ 3.62035399e-01,  4.80735936e-01,  1.47489798e-01,
        -4.23507974e-01],
       [-9.01346840e-02,  1.26819173e-01,  1.27807357e-02,
        -1.55096679e-01],
       [-1.43914805e+00, -1.81615134e+00, -2.16346633e+00,
        -1.34140831e+00],
       [ 5.71842971e-01,  1.42127511e+00,  1.17751605e+00,
         1.08301995e+00],
       [-9.03873570e-01, -1.07824027e-01, -8.91173927e-01,
        -8.17200260e-01],
       [-1.03501790e+00, -1.69134254e+00, -1.15011277e+00,
        -1.16632570e+00],
       [ 2.21414588e-01,  6.32324806e-01,  2.15754003e-01,
        -2.30180133e-01],
       [-1.99430572e+00, -1.73626911e+00, -1.29093211e+00,
        -1.48202660e+00],
       [ 1.33730940e-02, -8.37146696e-02, -2.10933416e-01,
        -1.05367407e-01],
       [-8.02013846e-01, -1.30258265e+00, -9.41682983e-01,
        -1.32867739e+00],
       [-1.94496101e-01, -3.21111497e-01,  1.45500137e-01,
        -3.38728837e-01],
       [-1.39776424e+00, -1.65264507e+00, -1.86997800e+00,
                    nan],
       [-1.44341126e+00, -7.34754412e-01, -1.93324609e+00,
        -1.86455323e+00],
       [ 8.85368892e-01,  5.10975597e-01,  1.28227311e+00,
         7.16831517e-01],
       [ 1.21377793e+00,  1.10654340e+00,  2.66725724e-01,
        -9.48377541e-02],
       [ 2.19056757e+00,  1.83141080e+00,  1.92839378e+00,
         1.95084970e+00],
       [ 9.47911238e-01,             nan, -6.31401889e-01,
        -4.53643203e-01],
       [-3.60890393e-02, -8.82425089e-01, -8.46945352e-01,
        -1.03970192e+00],
       [-1.85002769e+00, -1.15606747e+00, -1.28733075e+00,
                    nan],
       [ 2.08264014e+00,  2.63866583e+00,  2.40022628e+00,
         2.50011587e+00],
       [-1.14549284e+00,             nan, -6.94249649e-01,
        -1.63749727e+00],
       [ 1.48122855e-01,  3.09870025e-01, -1.77810583e-01,
         5.11652706e-01],
       [ 1.72398403e+00,  1.79729862e+00,  1.53584730e+00,
                    nan],
       [ 3.46236601e-01,  2.26573958e-01,  3.60082600e-01,
         5.86497189e-01],
       [-4.69965858e-01, -4.08886676e-01, -3.17682672e-01,
         1.18042956e-01],
       [-5.23749366e-02, -6.37974108e-01, -6.19521164e-01,
         8.54461781e-01],
       [-8.05154984e-01, -2.36889297e-01, -5.50578809e-01,
        -1.36555909e+00],
       [ 1.31368469e+00,  2.28896806e+00,  9.26246433e-01,
         5.31197831e-01],
       [ 6.32947501e-01,  9.73659496e-01,  1.12789479e+00,
         1.45170755e+00],
       [-3.62321118e-02,  1.36540008e+00, -2.85622142e-01,
        -3.60706435e-01],
       [ 1.70641769e+00,  1.45707847e+00,  1.83324915e+00,
         1.25934589e+00],
       [-1.67653148e+00, -1.36731451e+00, -8.03085605e-01,
        -1.16511842e+00],
       [-8.21736265e-01, -1.23196293e+00, -3.36566008e-01,
         3.25794097e-02],
       [-4.02510035e-01,  3.10505852e-01,  4.94034696e-02,
         6.65970475e-01],
       [-4.84152075e-01,  3.86380398e-02,  4.71841311e-01,
         5.45724403e-01],
       [-1.28267718e-01,             nan,             nan,
        -1.21953501e+00],
       [-7.34558274e-02,  1.72712312e-02,  4.11130877e-01,
         6.36269022e-01],
       [ 1.58376241e-01,  3.78038926e-01,  5.46379142e-01,
         4.63998195e-01],
       [ 4.32486885e-01, -5.06551374e-01, -2.13662208e-01,
        -6.81372097e-01],
       [-5.46342362e-01, -4.67452300e-01, -1.88668292e-01,
        -3.82575753e-01],
       [ 1.70927693e+00,  2.01436292e+00,  1.61018066e+00,
         1.06817486e+00],
       [-3.97245322e-01, -1.05837172e+00, -1.35205517e+00,
        -1.44411263e+00],
       [ 1.27113414e+00,  1.81355750e-01,  9.83400220e-01,
                    nan],
       [ 1.16020816e-01,  6.01418017e-01, -1.00820799e-01,
         2.93396289e-01],
       [ 1.71438885e+00,  1.41903560e+00,  1.51266353e+00,
         1.00914923e-01],
       [ 7.61245870e-02, -1.43756518e-01, -5.18967617e-01,
        -1.31481299e+00],
       [-3.78700132e-01, -3.64222949e-01, -5.32690851e-01,
        -5.08124404e-03],
       [ 5.51319614e-01, -4.22474985e-01, -2.29377206e-01,
         6.36636735e-01],
       [ 5.78644012e-01,  7.77546500e-01,  9.49961621e-01,
         3.76527041e-01],
       [ 1.38018358e+00,  1.25266117e+00,  1.45828915e+00,
         1.27040416e+00],
       [ 4.54090467e-01, -1.04585937e-01, -6.00309891e-02,
        -3.31867158e-01],
       [-2.27711342e-01, -6.14886266e-02,  1.80226545e-02,
         4.91471479e-01],
       [-2.54410975e-01,  8.91684447e-02,  1.42764753e+00,
         3.29515677e-01],
       [ 5.43024766e-01,  5.15006483e-02,  4.52952298e-01,
         2.26340066e-01],
       [ 7.81952001e-01,  2.15248422e+00,  1.79436769e+00,
         1.43062274e+00],
       [-2.59159276e-02, -1.03803279e-02,  5.80271129e-01,
         2.59525605e-01],
       [ 4.22814452e-03,  9.03150738e-01,  1.03659402e+00,
                    nan],
       [-4.41233445e-01, -3.89972147e-01, -8.29685067e-01,
        -1.00721354e+00],
       [-4.59878279e-01, -1.25861816e+00, -4.66761457e-01,
        -3.01211771e-01],
       [-7.69331343e-02,  8.41917109e-02,  1.69840265e-01,
        -2.22764681e-01],
       [-1.24353181e+00, -1.31753893e+00, -1.66569062e+00,
                    nan],
       [ 1.47956227e+00,  2.98830758e-01,  7.53603705e-01,
         9.09864308e-01],
       [-1.50926032e-01,  1.12470114e+00,  7.58884232e-01,
                    nan],
       [-1.27824707e+00, -5.41034268e-01, -8.11435274e-01,
        -1.27968400e+00],
       [ 1.42671507e-01, -7.91763076e-01,  6.76567270e-02,
        -6.18081596e-01],
       [-1.64468158e+00,             nan,             nan,
        -1.33320112e+00],
       [-1.44677463e-01,             nan, -1.58515191e-01,
                    nan],
       [-1.10299420e+00, -2.00075418e-01, -8.46564891e-01,
        -7.35778276e-01],
       [ 3.14274562e-01, -1.20187234e+00, -1.45837245e+00,
        -1.81343793e+00],
       [-2.47969390e-01, -8.63935761e-01, -1.53768599e+00,
        -4.13884646e-01],
       [ 3.46245589e-01, -9.54754836e-01,  5.05163125e-01,
                    nan],
       [-1.33150192e+00, -7.18289832e-01,  2.46742785e-02,
        -5.86231861e-01],
       [ 9.28139797e-01,  8.59573428e-01, -1.92036700e-01,
         5.29079589e-01],
       [-7.21963469e-01, -1.41959276e+00, -1.78392706e+00,
                    nan],
       [ 9.77479222e-01,  5.62118734e-01,  9.49672753e-02,
         3.47500270e-01],
       [-4.07637098e-01, -4.16969658e-01, -1.09116580e+00,
        -1.15103648e+00],
       [ 6.63773658e-01,             nan, -6.23310083e-01,
         1.31701426e-01],
       [ 1.07496308e+00,  9.82839463e-01,  1.17333537e+00,
         1.95116147e+00],
       [-9.44393159e-01,  8.62171044e-01,  6.30114823e-01,
                    nan],
       [ 6.58309910e-01, -6.79613661e-01, -1.70370532e+00,
        -1.66060548e+00],
       [ 1.07867008e+00,  1.07773757e+00,  6.21983667e-01,
         8.52571627e-01],
       [-7.80506602e-01, -1.51309492e+00, -7.14649413e-01,
        -3.70912599e-01],
       [-3.12061706e-01, -1.79585323e+00, -3.69500075e-01,
        -6.62981022e-01],
       [ 6.90221334e-01,  6.87024827e-01,  3.72556736e-01,
         5.59291919e-01],
       [ 3.47356291e-01,  5.81592001e-01,  9.35781233e-02,
         1.21565033e+00],
       [-6.93696528e-03, -5.78143549e-01,  1.02611186e+00,
         6.61183846e-01],
       [ 1.48330187e+00,  1.38314665e+00,  1.63244647e+00,
         1.67659617e+00],
       [-1.31960466e+00, -1.32531675e+00, -1.69634848e+00,
        -1.30840618e+00],
       [-9.42726348e-01, -1.05086983e+00, -9.48704581e-01,
        -5.70377671e-01],
       [-2.44842420e-01, -2.43634749e-01,  1.01196726e+00,
         1.42223385e+00],
       [ 1.68720636e-01,             nan,             nan,
        -7.21720790e-01],
       [-2.25858447e-01,  9.81631153e-01,  1.31050375e+00,
         6.94225222e-01],
       [ 9.23624146e-01,  3.50672598e-01,  9.85952450e-01,
         1.10037176e+00],
       [ 1.86958443e+00,  1.12729219e+00,  1.71340113e+00,
         1.78788534e+00],
       [ 7.92219865e-01,  3.56094513e-01,  3.94996341e-01,
        -4.22861527e-01],
       [ 1.14072594e+00,  8.86014497e-01,  1.11552328e+00,
         1.11178613e+00],
       [ 1.49052489e+00,  1.26088810e+00,  1.11390008e+00,
         1.17132194e+00],
       [-2.35392988e-01, -5.08602052e-02,  3.76098708e-02,
         1.43611718e-01],
       [-6.22261360e-01, -4.77501780e-01, -3.92111466e-01,
        -2.14970194e-01],
       [-1.43190012e+00,             nan, -1.87702631e+00,
                    nan],
       [-3.71400086e-01,  4.12811441e-02, -6.17130684e-03,
         3.25418857e-01],
       [-1.67025730e+00, -7.18544690e-01, -8.50115171e-01,
        -1.05371481e+00],
       [-1.18501319e+00, -1.11195029e+00, -5.92914316e-01,
        -9.28228720e-01],
       [ 5.66416786e-02,  1.31568302e+00,  4.10386817e-01,
                    nan],
       [-1.03188533e-01, -4.31610892e-01, -9.82895827e-01,
        -6.18317154e-01],
       [-1.19444829e+00, -1.63649421e+00, -1.47888203e+00,
        -1.52459909e+00],
       [-5.08737273e-01,  3.91576825e-01, -2.70504323e-01,
                    nan],
       [-5.36974931e-01,  1.13200102e-02, -2.31914501e-01,
         2.47164059e-01],
       [ 1.75861780e-01,  9.23694393e-02, -2.27287976e-01,
        -2.43472208e-01],
       [-1.23220807e+00, -1.10345202e+00, -1.54693870e+00,
        -1.44200650e+00],
       [ 9.03085082e-02, -1.55921200e-02,  2.00883003e-01,
         1.30359800e+00],
       [ 1.58876634e+00,  1.06120256e+00,  7.86672682e-01,
         1.00741680e+00],
       [-1.23754870e+00, -1.19558646e+00, -5.13669186e-01,
                    nan],
       [ 1.13081964e+00,             nan,             nan,
        -1.33003341e-01],
       [-2.04970903e+00,             nan,             nan,
        -1.48751011e+00],
       [-3.32282680e-01,  3.71518303e-01,  4.33179506e-01,
         2.20654855e-01],
       [ 5.46414437e-01,  3.76363924e-01,  8.91949204e-01,
         1.08110587e+00],
       [ 1.06600924e-01,  6.39797794e-01,  5.37507631e-01,
        -1.00038904e+00],
       [ 1.35922523e+00,  8.14068361e-01,  6.11229019e-01,
         1.06998510e+00],
       [-6.00571720e-01, -2.06283199e+00, -1.26607667e+00,
        -5.85198554e-01],
       [ 1.16227143e+00,  6.06060138e-01,  1.23539761e+00,
         1.48551709e+00],
       [-4.46351303e-01, -1.62012990e+00, -1.54238240e+00,
        -1.80221839e+00],
       [ 8.56430936e-01,  8.72455472e-01, -1.31821259e+00,
        -1.46259444e+00],
       [ 1.46827507e+00,  8.80772115e-01,  6.67283417e-01,
        -3.05065153e-02],
       [-5.23011112e-02, -1.35678124e-01,  5.92975331e-01,
         5.74454361e-04],
       [-1.56622224e+00,             nan, -3.47921993e-01,
        -1.61426597e+00],
       [-1.24257707e+00, -1.06196173e+00, -1.17958443e+00,
        -9.56829533e-01],
       [-1.71781043e+00, -4.27883883e-01, -5.12612522e-01,
        -5.08384897e-03],
       [-1.19798443e+00, -1.22668199e+00, -1.15182793e+00,
                    nan],
       [-1.48355665e-01, -5.79365349e-03,  6.26222620e-01,
         7.50145711e-01],
       [-1.14338914e+00, -1.01962883e+00, -5.39386314e-01,
        -7.75436932e-01],
       [ 6.34792506e-01, -4.95039696e-01, -3.21262568e-01,
         1.32755585e+00],
       [ 6.26192960e-01,  5.39087633e-01,  4.14502955e-01,
         3.69808946e-01],
       [ 2.27466115e+00,             nan,             nan,
         1.93377856e+00],
       [ 1.34936412e+00,  7.34494277e-01,  1.61130846e+00,
         9.77102186e-01],
       [ 1.66893715e+00,  1.86484134e+00,  2.00414952e+00,
         1.89790259e+00],
       [ 1.12785576e+00,  3.79169856e-01,  8.01923967e-02,
        -5.01027850e-01],
       [-1.39677062e+00, -1.30602341e+00, -4.96059991e-01,
        -1.63467489e-01],
       [-2.20131417e+00, -2.15982695e+00, -7.62142350e-01,
        -5.88730519e-01],
       [            nan, -6.39671917e-02,  7.65502921e-01,
         1.37936125e-02],
       [            nan,  3.42182564e-01, -1.05968897e-01,
         3.59149781e-01],
       [            nan,             nan, -6.03963121e-01,
        -8.46643371e-01],
       [            nan,             nan, -7.77680887e-01,
        -5.79198955e-01]])

In [0]:
slc_rev_gdp_std = pd.DataFrame(rev_gdp_std)
slc_rev_gdp_std.head()

          0         1         2         3
0  0.011597  0.364795  1.300755  1.414010
1  0.337349  0.632212  1.094853  0.940282
2 -1.225289 -1.338629 -0.995117       NaN
3  0.864095  1.254880  1.301180  1.198539
4 -0.508113  0.394561  0.414549 -0.103038

In [0]:
df1 = pd.DataFrame(hpi.iloc[:,0:1])
df1.head()

     Country
0    Albania
1    Algeria
2     Angola
3  Argentina
4    Armenia

In [0]:
df_rev_gdp_std = pd.concat([df1, slc_rev_gdp_std],axis=1)
df_rev_gdp_std.columns = [hpi.iloc[0:1,:]]
df_rev_gdp_std

         Country      2006      2009      2012      2016
0        Albania  0.011597  0.364795  1.300755  1.414010
1        Algeria  0.337349  0.632212  1.094853  0.940282
2         Angola -1.225289 -1.338629 -0.995117       NaN
3      Argentina  0.864095  1.254880  1.301180  1.198539
4        Armenia -0.508113  0.394561  0.414549 -0.103038
..           ...       ...       ...       ...       ...
153     Zimbabwe -2.201314 -2.159827 -0.762142 -0.588731
154         Iraq       NaN -0.063967  0.765503  0.013794
155       Serbia       NaN  0.342183 -0.105969  0.359150
156  Afghanistan       NaN       NaN -0.603963 -0.846643
157      Liberia       NaN       NaN -0.777681 -0.579199

[158 rows x 5 columns]

In [0]:
df_rev_gdp_std.to_excel("HPI_std.xlsx")